<h1><%= @merchant.name %></h1>
<p><%= link_to 'My Items', merchant_items_path(@merchant) %></p>
<p><%= link_to 'My Invoices', merchant_invoices_path(@merchant) %></p>
<p>Top five customers:</p>
<% @top_five_customers.each do |customer| %>
  <p><%= customer.first_name %> <%= customer.last_name %> Number of Transactions: <%= customer.transactions.count %></p>
<% end %>
<p> Items ready to ship:</p>
<% @items_ready_to_ship.each do |invoice_item| %>
  <p><%= invoice_item.item.name %> Ordered at: <%= invoice_item.created_at %> Item's Invoice Id: <%= link_to invoice_item.id, merchant_invoices_path(@merchant) %>
<% end %>
